<!-- templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Patron in Database</title>
</head>
<body>
    <h1>Enter Patron data</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.first_name.label }} {{ form.first_name() }}
        </div>
        <div>
            {{ form.surname.label }} {{ form.surname() }}
        </div>
        <div>
            {{ form.email.label }} {{ form.email() }}
        </div>
        <div>
            {{ form.access_level.label }} {{ form.access_level() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
